<h1>Edit Blogger</h1>

<%= form_with model: @blogger do |f| %>

  <%= f.label :name%>
  <%= f.text_field :name %>
  <br><br>

  <%= f.label :age %>
  <%= f.number_field :age %>
  <br><br>

  <%= f.label :bio %>
  <%= f.text_area :bio, style: "height: 6em; width: 40em" %>
  <br><br>

  <%= f.submit %>

<% end %>    
